{% extends "layout.html" %}


{% block body %}

<h1>Hello {{firstname}}, {{lastname}}</h1>
    <div class="container">
    <div class="jumbotron">  
    <h1> The Loan management</h1>
    <form action="/predict" method="POST">
      <div class="form-group">
      <label>First name:
      <input  class="form-control" type="text" name="firstname"></label>
       </div>
      
       <div class="form-group">
       <label>Last name:
      <input class="form-control" type="text" name="lastname"></label>
      </div>
       
      <div class="form-group">
            <label>Gender:
           <input  type="radio" name="gender" required>Male
           <input  type="radio" name="gender" required>Female
          </label>
           </div>

      <div class="form-group">
      <label>Loan Amount:
        <input class="form-control" type="number" name="loanamount" required></label>
        
        <div class="form-group">
       <label>Income Level:
        <input class="form-control" type="number" name="incomelevel" required></label>
        </div>
       
        <div class="form-group">
       <label>University staff:
        <input class="form-control" list = "unistaff" name = "unistaffs" required>
        <datalist id ="unistaff">
            <option value= "Yes">
            <option value= "No">
        </datalist></label>
        </div>

        <div class="form-group">
                <label>Union Member:
                 <select class="form-control" name = "member" required>
                     <option value= "1">YES</option>
                     <option value= "0">NO</option>
                     </select></label>
                 </div>


                 
                 
       <div class="form-group">
        <label>Guarantor:
                     
       <select class="form-control" name = "guarans" required>
                    <option value= "1">Valid</option>
                    <option value= "0">Invalid</option>
                    </select></label>
                </div></label>
        </div>

        <div class="form-group">
            <label>Married:
            <select name="married" required>
                <option disabled selected>Marital Status</option>
                <option value= "1">YES</option>
                <option value= "0">NO</option>
             </select>   
            </label>
            </div>


        <div class="form-group">
        <label>Guarantor Contribution:
        <select class="form-control" list = "guarancon" name = "guarancons" required>
            <option disabled selected>Contribution</option>
            <option value= "1">Ok</option>
            <option value= "0">nil</option>
         </select>
        </label>
        </div>
        
        <div class="form-group">
        <label>Pledge:
        <input class="form-control" list = "guaran" name = "pledge">
        <datalist id ="guaran">
            <option value= "1">
            <option value= "0">
        </datalist></label>
        </div>

        <div class="form-group">
       <label>Credit history:
        <input class="form-control" type="number" name="points"  min="0" step="1">
        </div>
        <div class="form-group">
          <input  type="submit" value="Submit" class="btn btn-primary"></label>
        </div>
    </form>
    </div>
    </div>

{% endblock %}

